.contain {
  background-color: tal;
  height: 100%;
  margin: 1rem;
  border-radius: 15px 0 15px 0;
}
header {
  color: white;
  margin: 1.3rem;
  margin-left: 0 !important;
  font-size: xx-large;
  font-weight: 900;
  letter-spacing: 0.3rem;
}
input {
  color: white;
  background-color: rgb(59, 50, 61);
  font-weight: 900;
  padding: 1.5rem;
  font-size: xx-large;
  border: transparent;
  border-radius: 10px;

}
.input {
  margin-bottom: 2rem;
}

.keypad {
  background-color: rgb(78, 63, 82);
  display: block;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-radius: 10px;
}
button {
  color: rgb(78, 63, 82);
  background-color: white !important;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0.5rem;
  font-style: italic;
  display: block;
  border: transparent;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
button:active {
  transform: translateY(4px);
}
.bty {
  text-align: center; 
  margin-bottom: 0.7rem;
  margin-left: 1;
}
.res {
  color: white !important;
  background-color: rgba(120, 84, 131, 0.9) !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-size: large;
  font-style: normal;
}
.del {
  background-color: red !important;
}
.ok {
  color: white !important;
  background-color: orange !important;
}